<html>
    <body>
        Id: @Model.Id <br />
        Name: @ViewData["Title"] @Model.Name <br />
        Gender: @Model.Gender <br />
        Date: @ViewBag.CurrentDate <br />
        @TempData["Location"]
    </body>
</html>